<h2>Module Settings</h2>

<mat-form-field>
  <mat-label>Title</mat-label>
  <input [(ngModel)]="module.module_name" matInput>
</mat-form-field>

<mat-form-field>
  <mat-label>Credits</mat-label>
  <input [(ngModel)]="module.credits" matInput>
</mat-form-field>

<mat-form-field>
  <mat-label>Description</mat-label>
  <textarea [(ngModel)]="module.description" matInput></textarea>
</mat-form-field>

<div>
  <button mat-raised-button color="primary" class="w3-margin-right">Save</button>
  <button mat-raised-button color="warn">Delete</button>
</div>
