

<!-- <mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>Drawer content</mat-drawer>
  <mat-drawer-content>
    </mat-drawer-content>
    </mat-drawer-container> -->
    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:25%">
      <div style="display: flex; align-items: center; padding: 10px;">
        <!-- Small logo image next to the text -->
        <img src="assets/caesar-svgrepo-com.svg" alt="logo" style="width: 30px; height: 30px; margin-right: 10px;">
        <h2 class="w3-bar-item" style="margin: 0;">Collegia</h2>
      </div>
      <a [routerLink]="['/']" routerLinkActive="router-link-active"  class="w3-bar-item w3-xlarge w3-button"><i class="fa fa-home"></i> Home</a>
      <a [routerLink]="['/schools']" routerLinkActive="router-link-active"  class="w3-bar-item w3-xlarge w3-button"><i class="fa fa-building-o"></i> Schools</a>
      <a [routerLink]="['/modules']" routerLinkActive="router-link-active"  class="w3-bar-item w3-xlarge w3-button"><i class="fa fa-book"></i> Modules</a>
      <a [routerLink]="['/account']" routerLinkActive="router-link-active"  class="w3-bar-item w3-xlarge w3-button"><i class="fa fa-user-o"></i>
      @if (user) {
        {{ user.first_name }} {{ user.last_name }}
      }
      @else {
        My Account
      }
      </a>

      @if (user) {
        <a [routerLink]="['/login']" routerLinkActive="router-link-active"  class="w3-bar-item w3-xlarge w3-button"><i class="fa fa-sign-out"></i> Logout</a>
      }
      @else {
        <a [routerLink]="['/login']" routerLinkActive="router-link-active"  class="w3-bar-item w3-xlarge w3-button"><i class="fa fa-sign-in"></i> Login</a>
      }

    <!--
      export const routes: Routes = [
  { path: 'home', component: HomePageComponent },
  { path: 'account', component: AccountPageComponent },
  { path: 'module', component: ModulePageComponent },
  { path: 'module-settings', component: ModuleSettingsPageComponent },
  { path: 'school', component: SchoolPageComponent },
  { path: 'school-settings', component: SchoolSettingsPageComponent },
  { path: 'view-school', component: ViewSchoolPageComponent },
];
     -->
    </div>
    <div style="margin-left:25%">
      <div class="w3-container">
        <router-outlet></router-outlet>
      </div>
    </div>

