

<!-- <mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened>Drawer content</mat-drawer>
  <mat-drawer-content>
    </mat-drawer-content>
    </mat-drawer-container> -->
    <div class="w3-sidebar w3-light-grey w3-bar-block" style="width:15%">
      <div style="display: flex; align-items: center; padding: 10px;">
        <!-- Small logo image next to the text -->
        <img src="assets/caesar-svgrepo-com.svg" alt="logo" style="width: 30px; height: 30px; margin-right: 10px;">
        <h2 class="w3-bar-item" style="margin: 0;">Collegia</h2>
      </div>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-home"></i> Home</a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-home"></i> Schools</a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-home"></i> Modules</a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-home"></i> My Account</a>
      <a href="#" class="w3-bar-item w3-button"><i class="fa fa-home"></i> Logout</a>
    </div>
    <div style="margin-left:15%">
      <div class="w3-container">
        <router-outlet></router-outlet>
      </div>
    </div>

