

<h2 mat-dialog-title>Create your module</h2>
<mat-dialog-content>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Department</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Credits</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <!-- <button mat-button (click)="onNoClick()">No Thanks</button> -->
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button>
</mat-dialog-actions>
