<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar style="
      background-image: url('{{ school.profile_url}}');
      background-size: cover;
    "></div>

    <mat-card-title>{{ school.school_name }}</mat-card-title>
    <mat-card-subtitle>{{ school.school_id }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="school.thumbnail_url" alt="School thumbnail">
  <mat-card-content>
    <p>
      {{school.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button routerLink="/view/{{school.school_id}}" mat-button>View</button>
  </mat-card-actions>
</mat-card>
